---
import X from '@assets/x.astro';
import Discord from '@assets/Discord.astro';
import GitHub from '@assets/GitHub.astro';
import Mastodon from '@assets/Mastodon.astro';
import BigCheck from '@assets/BigCheck.astro';
import BigCheck32 from '@assets/BigCheck32.astro';
---

<footer class="flex flex-col">
	<hr class="border-gray-100 dark:border-[#27293A]" />
	<div class="my-10 flex justify-center gap-4 md:justify-end">
		<a href="https://twitter.com/glrvrl">
			<X />
		</a>
		<a href="https://astro.build/chat">
			<Discord />
		</a>
		<a href="https://github.com/glrvrl">
			<GitHub />
		</a>
		<a href="https://m.webtoo.ls/@astro">
			<BigCheck32 />
		</a>
	</div>
</footer>
